$color_1: #f8d5d5;
$color_b: #ffcaaf;
$color_2: #0000001a;
$color_3: rgba(0, 0, 0, 0.4);
$color_4: #b0f6f2;
$color_5: #ff8084;
$color_6: #fab5b7;

$fuente_1: 'Montserrat',
sans-serif;
$fuente_2: 'Cormorant Garamond', serif;
/* 'Fondamento',   cursive; */

$sombra: 0 0 10px $color_2;