$color_1: #ffcaaf;
$color_b: #fcc2a6;
$color_2: #0000001a;
$color_3: rgba(0, 0, 0, 0.4);
$color_4: #e3ded8;
$color_5: #f5ede4;
$color_6: #ff8084;

$fuente_1: 'Montserrat',
sans-serif;
$fuente_2: 'Cormorant Garamond', serif;
/* 'Fondamento',   cursive; */

$sombra: 0 0 10px $color_2;