@import 'vars';
@import 'reset';
@import 'extend';
@import 'mixins';

/*
*
* Etiquetas sin clase
*
*/

html {
    scroll-behavior: smooth;
}

main {
    margin-top: 6rem;
    margin-bottom: 2rem;
}

h1 {
    font-size: 2.5rem;

    @media screen and (min-width: 1000px) {
        font-size: 3rem;
    }
}

h2 {
    font-size: 2rem;

    @media screen and (min-width: 1000px) {
        font-size: 2.5rem;
    }
}

p {
    font: {
        family: $fuente_2;
        size: 0.8rem;
    }

    padding: .2rem;
    margin: 0 .1rem;
    text-align: left;

    @media screen and (min-width: 1000px) {
        font-size: 1rem;
    }
}

span {
    font-style: italic;
    font-weight: bold;
}

iframe {
    max-width: 100%;
    margin: .5rem auto;
}

details {
    line-height: 1.5rem;
    text-align: justify;
    text-justify: auto;
    color: black;
    margin: .5rem;
    font: {
        size: .8rem;
        family: $fuente_1;
    }

    ul {
        list-style-position: inside;
        list-style-type: disc;
        margin: .1rem;
        padding: .2rem;
    }

    @media screen and (min-width: 1000px) {
        line-height: 2rem;
        font-size: 1rem;
    }
}

/*
*
* CLASES GENERALES
*
*/

.contenedor {
    width: 95%;
    margin: 0 auto;
    @media screen and (min-width: 1000px) {
        width: 90%;
        max-width: 1600px;
    }

    .fila {
        margin: auto;
    }
}

.titulos {
    @extend %headers;
}

.parrafos-ppales {
    line-height: 1.5rem;
    text-align: justify;
    text-justify: auto;
    color: black;
    font: {
        size: .8rem;
        family: $fuente_1;
    }
    padding: .2rem;
    margin: .5rem;

    @media screen and (min-width: 1000px) {
        line-height: 2rem;
        font-size: 1rem;
    }
}

.separador {
    background-image: url("../imagenes/bg.jpg");
    background-repeat: repeat-x;
    background-size: contain;
    background-position: center;
    height: 10vh;
    margin: 1rem auto;
}

.popover-body {
    margin: auto;
    font: {
        size: .8rem;
        family: $fuente_1;
    }

    @media screen and (min-width: 1000px) {
        font-size: .9rem;
    }
}

/*
*
* Estilos para el header y el menu
*
*/

.barra {
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: .25rem .5rem;
    background-color: white;
    
    .contenedor {
        .ancla-logo {
            .logo {
                height: 80px;
                width: 80px;
            }
        }
    }
    
    .boton-nav {
        padding: .3rem;
        font-size: 1rem;
        margin-right: 1rem;
    }
}

.desplegable {
    background-color: white;
        
    .menu-lista {
        @include flex(column, nowrap, stretch, center);

        @media screen and (min-width: 1000px) {
            @include flex (row, wrap, center, center);
        }

        .menu-item {
            list-style-position: inside;
            list-style-type: none;
            background-color: $color_2;
            width: fit-content;
            margin: .1rem;
            border-radius: 0 .4rem;
            align-self: center;
            padding: .2rem;
            flex: 1;
            
            a {
                text-decoration: none;
                letter-spacing: 1px;
                line-height: 1rem;
                font: {
                    size: .8rem;
                    family: $fuente_1;
                }
            
                &:link {
                    color: black;
                }
            
                &:visited {
                    color: currentColor;
                }
            
                &:hover {
                    color: $color_1;
                }

                @media screen and (min-width: 1000px) {
                    font-size: .9rem;
                }
            }

            @media screen and (min-width: 1000px) {
                text-align: center;
                padding: .3rem;
                margin: 0 .2rem;
                border-radius: 1rem;
            }
        }
    }
}

/*
*
* Estilos redes flotantes
*
*/

.redes-flotantes {
    @include flex (row, wrap, space-evenly, center);
    line-height: 2pc;
    margin: 1rem auto;
    padding: .1rem;
    cursor: hand;

    img:hover {
        transform: scale(1.1);
    }

    @media screen and (min-width: 1000px) {
        position: fixed;
        z-index: 1;
        top: 12rem;
        left: .1rem;
        display: block;
        width: 2pc;
        height: 25vh;

        img:hover {
            transform: translateX(.2rem);
        }
    }
}

/*
*
* Estilos para el footer
*
*/

.pie {
    background-color: $color_1;
    font-style: italic;
    margin-top: 1rem;

    .contenedor {
        padding: .5rem;
        @include flex (column, wrap, space-evenly, space-between);

        .ancla-up {
            padding: .5rem;
            margin: .3rem auto;
        
            &:link {
                color: black;
            }
        
            &:visited {
                color: currentColor;
            }
        }

        .datos-web {
            div {
                margin: .3rem auto;
                width: fit-content;

                p {
                    display: inline-block;
                }
            }
        }

        .redes-web {
            @include flex (row, wrap, space-evenly, center);
            margin: .3rem auto;
            width: 100%;

            a {
                margin: auto;
                padding: .5rem;

                &:link {
                    color: black;
                }

                &:visited {
                    color: currentColor;
                }

                @media screen and (min-width: 1000px) {
                    padding: 1rem;
                }
            }
        }

        p {
            margin: auto;
        }

        @media screen and (min-width: 1000px) {
            @include grid (repeat(2, 1fr), (.5fr, 1fr, .5fr), .5rem);
            grid-template-areas:
                "flecha flecha"
                "datos redes"
                "copyr copyr";
            height: auto;

            .ancla-up {
                grid-area: flecha;
            }

            .datos-web {
                grid-area: datos;

                div {
                    width: 100%;
                }
            }

            .redes-web {
                grid-area: redes;
            }

            .copyr{
                grid-area: copyr;
                width: fit-content;
            }
        }
    }
}

/*
*
* INDEX/HOME
*
*/

/* Estilos para el carrusel */

.carr-in {
    margin: auto;
    height: fit-content;
    overflow: hidden;
    
    .c-item {
        img {
            width: 100%;
            height: 400px;
            object-fit: cover;

            @media screen and (min-width: 1000px) {
                height: 80vh;
                object-fit: contain;
            }
        }
    }

    @media screen and (min-width: 1000px) {
        background-color: $color_1;
        width: 90%;
    }
}

.a-ovillo {
    display: block;
    margin: auto;
}

/*
*
* PRODUCTOS
*
*/

/* Estilos para las cartas descriptivas */

.descripcion {
    @include flex (row, wrap, space-around, top);
    .cartas {
        width: 30rem;
        max-width: 90%;
        margin: .5rem;
        height: fit-content;
        font: {
            family: $fuente_1;
            size: .8rem;
        }
        text-align: center;

        .card-tit {
            font-weight: bold;
        }

        @media screen and (min-width: 1000px) {
            font-size: 1rem;
        }
    }
}

/* Estilos para la Galeria */

.galeria-prod {
    @include flex (row, wrap, space-around, center);
    padding: 1rem;
    width: fit-content;
    margin: .5rem auto;

    img {
        width: 300px;
        max-width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 1rem;
        margin: .5rem;
        cursor: pointer;

        &:hover {
            border-radius: 50%;
            box-shadow: 0px 0px 15px 15px $color_1;
        }
    }

    @media screen and (min-width: 1000px) {
        @include grid (repeat(3, 1fr), repeat(4, 1fr), 1rem);
        grid-template-areas:
            "mariposas perro pulpos"
            "rana unicornio-1 ma"
            "jirafa tortugas zorro"
            "pica trapo celeste";
        height: auto;

        .gp-mariposas {
            grid-area: mariposas;
        }

        .gp-perrito {
            grid-area: perro;
        }

        .gp-pulpos {
            grid-area: pulpos;
        }

        .gp-rana {
            grid-area: rana;
        }

        .gp-unicornio {
            grid-area: unicornio-1;
        }

        .gp-marad {
            grid-area: ma;
        }

        .gp-jirafa {
            grid-area: jirafa;
        }

        .gp-tortugas {
            grid-area: tortugas;
        }

        .gp-zorro {
            grid-area: zorro;
        }

        .gp-picaportero {
            grid-area: pica;
        }

        .gp-mtrapo {
            grid-area: trapo;
        }

        .gp-u-celeste {
            grid-area: celeste;
        }
    }
}

/* Estilos para los modales de la Galeria */

.mod-h {
    padding: .2rem;
    padding-right: .6rem;
}

.mod-b {
    background-color: $color_1;
    padding: .8rem;

    img {
        border-radius: 2rem;
        object-fit: cover;
        width: 100%;
    }

    .btn-modal {
        position: fixed;
        z-index: 1;
        margin-left: 1rem;
        margin-top: 3rem;
        padding: .3rem .5rem;
        font: {
            family: $fuente_1;
            size: .9rem;
        }

        &:hover {
            background-color: $color_2;
        }
    }
}

/*
*
* SERVICIOS
*
*/

.btn-descargas {
    background-color: $color_2;
    color: black;
    font: {
        family: $fuente_1;
        size: .8rem;
    }
    margin: auto;
    width: fit-content;

    &:hover {
        background-color: $color_3;
        color: $color_1;
    }

    @media screen and (min-width: 1000px) {
        font-size: .9rem;
    }
}

/*
*
* QUIENES SOMOS
*
*/

.foto_who {
    border-radius: 3rem;
    object-fit: cover;
    margin: auto;

    @media screen and (min-width: 770px) and (max-width: 1200px) {
        max-width: 600px;
    }
}

/*
*
* CONTACTO
*
*/

/* Estilos para el Formulario */

.formulario {
    .grupo-formulario {
        margin: 0 auto;
        font: {
            size: .8rem;
            family: $fuente_1;
        }

        .form-check {
            .tic {
                position: relative;
                margin-top: .3rem;
                margin-left: .1rem;
            }
        }

        .ctrl-formulario {
            height: 2rem;
            width: 85%;
            margin-left: 3px;
            font-size: .8rem;

            @media screen and (min-width: 1000px) {
                font-size: .9rem;
            }
        }

        article {
            margin: .2rem;
            padding: .1rem;
        }

        fieldset {
            margin: .1rem;
            padding: .1rem;
            width: 50%;

            @media screen and (min-width: 1000px) {
                margin: .2rem;
                width: 30%;
            }
        }

        textarea {
            margin: .2rem auto;
            padding: .1rem;
            max-width: 80%;
            min-height: 25vh;

            @media screen and (min-width: 1000px) {
                max-width: 50%;
            }
        }

        @media screen and (min-width: 1000px) {
            font-size: .9rem;
        }
    }

    .btn-enviar {
        background-color: $color_4;
        font-size: .8rem;
    }

    .btn-borrar {
        background-color: $color_5;
        font-size: .8rem;
    }
}