@import 'vars';
@import 'reset';
@import 'extend';
@import 'mixins';

/*
*
*CLASES
*
*/

.titulos {
    @extend %headers;
}

.parrafosPpales {
    line-height: 2rem;
    text-align: justify;
    text-justify: auto;
    color: black;
    font: {
        size: .9rem;
        family: $fuente_1;
    }
    padding: 0.5rem;
    margin: 0.2rem auto;
    box-shadow: $sombra;
    border-radius: 0.1rem .6rem;
}

.separador {
    background-image: url("../imagenes/bg.jpg");
    background-repeat: repeat-x;
    background-size: contain;
    background-position: center;
    height: 10vh;
    margin: .2rem auto;
}

.btn-block {
    background-color: $color_2;
    color: black;
    font: {
        family: $fuente_1;
        size: 1rem;
    }
    margin: auto;
    width: fit-content;

    &:hover {
        background-color: $color_3;
        color: $color_1;
    }
}

/*
*
*Estilos para el header y el menu
*
*/

.header__contenedor__menu__lista {
    @include flex(column, nowrap, stretch, center);
}

.header__contenedor__menu__lista__item {
    list-style-position: inside;
    list-style-type: none;
    background-color: $color_2;
    width: fit-content;
    margin: .1rem;
    border-radius: 0 5px;
    align-self: center;
    padding: 0.2rem;
    flex: 1;

    a {
        text-decoration: none;
        letter-spacing: 1px;
        line-height: 1rem;
        font: {
            size: 0.8rem;
            family: $fuente_1;
        }

        &:link {
            color: black;
        }

        &:visited {
            color: currentColor;
        }

        &:hover {
            color: $color_1;
        }
    }
}

.header__contenedor__logo {
    height: 75px;
    width: 75px;
}

.navbar-toggler {
	padding: .3rem;
    font-size: 1rem;
}

.navbar {
    flex-wrap: nowrap;
	justify-content: space-between;
	padding: .25rem 1rem;
    background-color: white;
}

.desplegable {
    background-color: white;
}


/*
*
*Estilos redes
*
*/

.contacto {
    @include flex (row, wrap, space-evenly, center);
    line-height: 2pc;
    margin: 1rem auto;
    padding: .1rem;
    cursor: hand;
}

.contacto__instagram:hover {
    transform: scale(1.1);
}

.contacto__facebook:hover {
    transform: scale(1.1);
}

.contacto__whatsapp:hover {
    transform: scale(1.1);
}

.contacto__pinterest:hover {
    transform: scale(1.1);
}

/*
*
*Estilos para carrusel
*
*/

.carousel-inner {
    margin: auto;
    width: 90%;
    height: fit-content;
    overflow: hidden;
}

.carousel-item img {
    width: 100%;
    height: 360px;
    object-fit: cover;
}

/*
*
*Estilos para la tabla en productos
*
*/

.table {
    width: max-content;
    font: {
        size: .9rem;
        family: $fuente_1;
    }

    margin: 0.5rem auto;

    .thead {
        text-align: center;
        padding: .5rem 1rem;
        background-color: $color_2;
    }

    td {
        vertical-align: middle;
        text-align: center;
        padding: .5rem 1rem;

        ul {
            li {
                list-style: none;
                list-style-position: inside;
                margin: auto;
                text-align: center;
                padding: .25rem;
            }
        }
    }
}

/*
*
*Estilo para GALERIA DE PRODUCTOS
*
*/

.galeria-prod {
    @include flex (row, wrap, space-between, center);
    padding: 1rem;
    width: fit-content;
    margin: .5rem auto;

    img {
        width: 300px;
        max-width: 100%;
        height: 300px;
        object-fit: cover;
        margin: .2rem auto;
        transition: transform 5s;
        border-radius: 1rem;
        cursor: pointer;

        &:hover {
            border-radius:50%;
            box-shadow: 0px 0px 15px 15px $color_1;
            //transform: scale(1.1);
        }
    }
}

.modal-header {
    padding: .2rem;
    padding-right: .6rem;
}

.modal-body {
    background-color: $color_1;
    padding: .8rem;
}

.modal-body__img {
    border-radius: 2rem;
    object-fit: cover;
    width: 100%;
}

.btn-modal {
    margin-left: 1rem;
    margin-top: 3rem;
    position: fixed;
    z-index: 1;
    &:hover {
        background-color: $color_2;
    }
    font-family: $fuente_1;
}

/*
*
*Estilos para el FORMULARIO DE CONTACTO
*
*/

.formulario {
    .form-group {
        margin: 0 auto;
        font: {
            size: 1rem;
            family: $fuente_1;
        }

        .form-check {
            .form-check-input {
                position: relative;
                margin-top: .3rem;
                margin-left: .1rem;
            }
        }

        .form-control {
            height: calc(1.4em + .5rem + 2px);
            width: 85%;
            margin-left: 3px;
            font-size: 0.9em;
        }

        article {
            margin: 0.2rem;
            padding: 0.1rem;
        }

        fieldset {
            margin: 0.1rem;
            padding: 0.1rem;
            width: 50%;
        }

        textarea {
            margin: 0.2rem auto;
            padding: 0.1rem;
            max-width: 80%;
            min-height: 25vh;
        }
    }
}

/*
*
*Estilos para el FOOTER
*
*/

.footer {
    background-color: $color_1;
    font-style: italic;
}

.footer__contenedor {
    @extend .contenedor;
    padding: .2rem;
}

.footer__contenedor__redesWeb {
    @include flex (row, wrap, space-evenly, center);
    margin: 0 auto;
}

.footer__contenedor__redesWeb__a {
    margin: auto;
    padding: .5rem;

    &:link {
        color: black;
    }

    &:visited {
        color: currentColor;
    }
}

/*
*
*Otras Etiquetas
*
*/

html {
    scroll-behavior: smooth;
}

main {
    margin-top: 6rem;
    margin-bottom: 2rem;
}

h1 {
    font-size: 2rem;
    color: $color_1;
    background-color: $color_3;
    width: max-content;
    max-width: 90%;
}

h2 {
    font-size: 1.5rem;
}

p {
    font: {
        family: $fuente_2;
        size: 0.9rem;
    }

    padding: 0.2rem;
    margin: 0rem 0.1rem;
}

span {
    font-style: italic;
    font-weight: bold;
}

iframe {
    max-width: 100%;
}

/*
*
* MEDIA QUERIES
*
*/

@media screen and (min-width: 1000px) {

    .contenedor {
        max-width: 1600px;
    }

    /*
    *
    *Estilos para el header y el menu
    *
    */

    .header__contenedor__menu__lista {
        @include flex (row, wrap, center, center);
    }

    .header__contenedor__menu__lista__item {
        text-align: center;
        background-color: $color_2;
        padding: .3rem;
        margin: 0 .2rem;
        border-radius: 20px;

        a {
            font-size: .9rem;
        }
    }

    /*
    *
    *Estilos redes flotantes
    *
    */

    .contacto {
        position: fixed;
        z-index: 1;
        top: 12rem;
        left: .1rem;
        display: block;
        width: 2pc;
        height: 25vh;
        line-height: 2pc;
        padding: .1rem;
        cursor: hand;
    }

    .contacto__instagram:hover {
        transform: translateX(.2rem);
    }

    .contacto__facebook:hover {
        transform: translateX(.2rem);
    }

    .contacto__whatsapp:hover {
        transform: translateX(.2rem);
    }

    .contacto__pinterest:hover {
        transform: translateX(.2rem);
    }

    /*
    *
    *Estilos para carrusel
    *
    */

    .carousel-inner {
        margin-top: 6rem;
        background-color: $color_1;

        img {
            height: 90vh;
            object-fit: contain;
        }
    }

    /*
    *
    *Estilo para GALERIA DE PRODUCTOS
    *
    */

    .galeria-prod {
        @include grid (repeat(3, 1fr), repeat(4, 1fr), 1rem);
        grid-template-areas:
            "mariposas perro pulpos"
            "rana unicornio-1 ma"
            "jirafa tortugas zorro"
            "pica trapo celeste";
        height: auto;
    }

    .galeria-prod__mariposas {
        grid-area: mariposas;
    }

    .galeria-prod__perrito {
        grid-area: perro;
    }

    .galeria-prod__pulpos {
        grid-area: pulpos;
    }

    .galeria-prod__rana {
        grid-area: rana;
    }

    .galeria-prod__unicornio {
        grid-area: unicornio-1;
    }

    .galeria-prod__ma {
        grid-area: ma;
    }

    .galeria-prod__jirafa {
        grid-area: jirafa;
    }

    .galeria-prod__tortugas {
        grid-area: tortugas;
    }

    .galeria-prod__zorro {
        grid-area: zorro;
    }

    .galeria-prod__picaportero {
        grid-area: pica;
    }

    .galeria-prod__mtrapo {
        grid-area: trapo;
    }

    .galeria-prod__u-celeste {
        grid-area: celeste;
    }

    /*
    *
    *Estilos para el FORMULARIO DE CONTACTO
    *
    */

    .formulario {
        .form-group {
            fieldset {
                margin: 0.2rem;
                width: 30%;
            }

            textarea {
                max-width: 50%;
            }
        }
    }

    /*
    *
    *Estilos para el FOOTER
    *
    */

    .footer__contenedor {
        @include grid (repeat(2, 1fr), 1fr, .5rem);
        grid-template-areas:
            "datos redes";
        height: auto;
    }

    .footer__contenedor__datosWeb {
        grid-area: datos;
    }

    .footer__contenedor__redesWeb {
        grid-area: redes;
    }

    .footer__contenedor__redesWeb__a {
        padding: 1rem;
    }

    /*
    *
    *Otras Etiquetas
    *
    */

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

}